:root{
    --primary-background-color: #F5F5F5 ;
    --secondary-background-color:#F5F4FA ;
    --header-background-color:#FFFFFF;
    --hero-footer-background-color:#2F303A;  
    
    --title-color:#FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3; 
    --header-second-part-color:#000000;
}

body{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}

.link{
    text-decoration: none;
    }
.list{  
    list-style: none;
    }
    /* header */
.header-logo{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-second-part{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-second-part-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus{color:var(--accent-text-color);}

.link-current{
    font-weight: 500; 
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.header-mailto{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    

}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
   
}
.contact-list .link:hover,
.contact-list .link:focus{color:var(--accent-text-color);}

/* hero */

.hero{
    background-color: var(--hero-footer-background-color);
}


.title{
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--title-color);
}

.hero-btn{
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
    background-color: var(--accent-text-color);
}


/* features */
.visualy-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features{
    background-color: 
    var(--primary-background-color);
}

.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* Work */
.work{
    background-color: var(--primary-background-color)
}
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

/* Team */
.team{
    background-color: var(--secondary-background-color);
}

.team-items{
    background-color: var(--header-background-color) ;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.team-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* Footer */

.footer{
    background-color: var(--hero-footer-background-color);
}

.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-second-part{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-color);
}


.footer-address,
.footer-contacts{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.footer-item .link:hover,
.footer-item .link:focus{color:rgba(255, 255, 255, 0.6);}


/* ------Portfolio---------- */

.portfolio-hero{
    background-color: var(--primary-background-color);
}
.btn-current{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: var(--accent-text-color);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus{color:var(--title-color);
    background-color: var(--accent-text-color);}

.portfolio-btn{
    cursor: pointer;
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

/* project-list */

.project-items {
    background-color: var(--header-background-color) ;
}
.project-title { 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}